<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!-- 자바스크립트 인라인 사용 전 -->
<script>
    var username = "[[${user.username}]]";
    var age = [[${user.age}]];
    //자바스크립트 내추럴 템플릿
    var username2 = /*[[${user.username}]]*/ "test username"; // 주석이더라도 user.username이 담긴다.
    //객체
    var user = [[${user}]]; // toString 호출
</script>
<!-- 자바스크립트 인라인 사용 후 -->
<script th:inline="javascript">
    var username = [[${user.username}]]; // 자동으로 문자열 처리
    var age = [[${user.age}]]; // 자동으로 정수형 처리
    //자바스크립트 내추럴 템플릿
    var username2 = /*[[${user.username}]]*/ "test username"; // 랜더링 될때 "test username"을 지우고 user.username을 담기게 해준다.
    //객체
    var user = [[${user}]]; // 객체를 JSON형식으로 넣어준다.
</script>

<!-- 자바스크립트 인라인 each -->
<script th:inline="javascript">
    [# th:each="user, stat : ${users}"]
    var user[[${stat.count}]] = [[${user}]];
    [/]
</script>

</body>
</html>